.cardCol {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardBox {
  width: 320px;
  min-height: 270px;
  border-radius: 20px;
  border: solid 2px #c2c5c6;;
  background: #e0e0e0;
}

.cardBox:hover {
  border: solid 0.5px #c2c5c6;
  box-shadow:  26px 26px 52px #cecece,
              -26px -26px 52px #f2f2f2;
}

.flagContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flagBox{
  width: 130px;
  height: 110px;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10%;
  border: solid 1px #707070;
  background: #e0e0e0;
  box-shadow:  19px 19px 38px #bcbcbc,
               -19px -19px 38px #ffffff;
}

.flagIMG {
  opacity: 0.7;
  width: 100px;
  height: 70px;
}
