.countryContainer {
    background: #EBEAE6;
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 100vw;
    min-height: calc(100vh - 56px);
}

.countryBox {
  margin-top: 3rem;
  width: 1300px;
  display: flex;
  flex-direction: column;
}

.countryNameBox {
  max-width: 1300px;
  max-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: solid 0.5px #707070;
  background: #EBEAE6;
  box-shadow:  21px 21px 42px #c5c5c5,
              -21px -21px 42px #fbfbfb;
}
.flagCol {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flagBox{
  width: 280px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
  border: solid 0.5px #707070;
  background: #EBEAE6;
  box-shadow:  21px 21px 42px #c5c5c5,
              -21px -21px 42px #fbfbfb;
}

.flagIMG {
  opacity: 0.7;
  border-radius: 10px;
  border: solid 0.5px #707070;
  max-width: 90%;
  width: auto;
  max-height: 90%;
  height: auto;
}

.heartBox {
  width: 50px;
  height: 50px;
  margin-left: 2rem;
  padding-top: 3px;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: solid 0.5px #707070;
  background: #EBEAE6;
  box-shadow:  21px 21px 42px #c5c5c5,
              -21px -21px 42px #fbfbfb;
}

.countryInfoBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  min-width: 300px;
  height: 160px;
  border-radius: 10px;
  border: solid 0.5px #707070;
  background: #EBEAE6;
  box-shadow:  21px 21px 42px #c5c5c5,
              -21px -21px 42px #fbfbfb;
}

.bigInfo {
  height: 100%;
}

.weatherBox {
  display: flex;
  align-items: center;
}

.weatherIconBox {
  width: 50px;
  height: 50px;
  border: solid 0.5px #c6c3c3;
  border-radius: 5px;
  margin-right: 1.5rem;
  background: #EBEAE6;
  box-shadow:  none;
}

.weatherIconBox:hover {
  box-shadow:  11px 11px 22px #bfbaba,
              -11px -11px 22px #fffcfc;
}