.homeBox {
  height: 100vh;
  width: 100vw;
  margin-top: 56px;
  background: url("../../assets/world-map-png-35425.png") no-repeat center/cover;
  background-color: #EBEAE6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleBox {
  background-color: #EBEAE6;
  width: 600px;
  height: 350px;
  border: #807d7d solid 1px;
  border-radius: 10px;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeTitle {
  font-size: 4rem;
  margin: 0;
}

.homeMadeBy {
  font-size: 1.5rem;
  margin: 0;
  color: #807d7d;
}