.homeBox {
  height: calc(100vh - 56px);
  width: 100vw;
  margin-top: 56px;
  background: url("../../assets/world-map-png-35425.png") no-repeat top/cover;
  background-color: #EBEAE6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleBox {
  background-color: rgba(235, 234, 230, 0.7);
  width: 600px;
  height: 350px;
  border: #807d7d solid 1px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s linear;
}

.titleBox:hover {
  background-color: rgba(235, 234, 230, 0.9);
  width: 610px;
  height: 360px;
}

.homeTitle {
  font-size: 4rem;
  margin: 0;
  margin-top: 2rem;
}

.homeMadeBy {
  margin: 0;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  color: #807d7d;
}