.loginBox {
  height: calc(100vh - 56px);
  width: 100vw;
  margin-top: 56px;
  background: url("../../assets/world-map-png-35425.png") no-repeat top/cover;
  background-color: #EBEAE6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formBox {
  padding: 2rem 0;
  background-color: rgba(235, 234, 230, 0.7);
  width: 350px;
  height: 400px;
  border: #807d7d solid 1px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}